@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500,700,100);
body {
  margin: 0;
  font-size: 62.5%;
  font-family: 'Open Sans', serif;
  font-size: 14px;
  font-weight: 300;
}

* {
  box-sizing: border-box;
}

.header {
  width: 100%;
  text-align: center;
  color: #282828;
  margin: 20px 0;
}

.header h1,
.header h2,
.header h3 {
  margin: 5px 0;
}

.header h1 {
  font: 500 3em/1.8em 'Roboto', sans-serif;
}

.header h2 {
  font: 300 1.8em/1em 'Roboto', sans-serif;
}

h3 {
  font: 300 1.4em/1em 'Roboto', sans-serif;
  text-align: center;
  width: 100%;
}

.conversionForm {
  margin: auto;
  width: 100%;
  max-width: 200px;
  overflow: hidden;
  font: 300 1.2em/1em 'Roboto', sans-serif;
}

.conversionForm label {
  font-weight: 500;
}

.conversionForm select,
.conversionForm input {
  outline: none;
}

.conversionForm__amount {
  width: 80%;
  margin: auto;
}

.conversionForm__amount label {
  text-align: center;
  display: block;
}

.conversionForm__amount input {
  margin: 5px auto;
  display: block;
}

.conversionForm__currencies {
  width: 100%;
  float: left;
  clear: left;
  margin: 10px 0;
}

.conversionForm__currencies div {
  width: 50%;
  float: left;
}

.conversionForm__currencies div label {
  text-align: center;
  display: block;
}

.conversionForm__currencies div select {
  width: 55px;
  display: block;
  margin: 5px auto;
  border: none;
}

.conversionForm .currencySubmit {
  display: block;
  margin: 5px auto;
  appearance: none;
  background-color: #000;
  color: #fff;
  border: 1px solid #000;
  font: 300 1em/1em 'Roboto', sans-serif;
  padding: 10px 15px 8px 15px;
  text-transform: uppercase;
  cursor: pointer;
  -webkit-transition: all 0.1s;
  -moz-transition: all 0.1s;
  transition: all 0.1s;
}

.conversionForm .currencySubmit:hover {
  background-color: #fff;
  color: #000;
  border: 1px solid #C7C7C7;
  font-weight: 500;
}

.output {
  font: 500 2em/1em 'Roboto', sans-serif;
  text-align: center;
}

/* Login */

.hero.is-success {
  background: #F2F6FA;
}
.hero .nav, .hero.is-success .nav {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.box {
  margin-top: 5rem;
}
.avatar {
  margin-top: -70px;
  padding-bottom: 20px;
}
.avatar img {
  padding: 5px;
  background: #fff;
  border-radius: 50%;
  -webkit-box-shadow: 0 2px 3px rgba(10,10,10,.1), 0 0 0 1px rgba(10,10,10,.1);
  box-shadow: 0 2px 3px rgba(10,10,10,.1), 0 0 0 1px rgba(10,10,10,.1);
}
input {
  font-weight: 300;
}
p {
  font-weight: 700;
}
p.subtitle {
  padding-top: 1rem;
}